@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	background-color: whitesmoke;
}

h1,h2,h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
}

h1 {
	font-size: 3rem;
	margin: 0;
}

h2 {
	font-size: xx-large;
}

header {
	color: beige;
}

header > p {
	color: white;
}

header {
	background-color: black;
}

#drinks {	
	padding: 1rem 0;	
	margin-bottom: 80px;	
	background: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/coffee-beans.jpg') center center / cover no-repeat fixed;	
}	
.text-white {	
	color: #FFFFFF;	
}	
.black-background {	
    background-color: black;	
}

#home {
    background-image: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/coffeehouse.jpg');
}

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}

.form-page-header {	
	background-image: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/table.jpg')	
}	
.text-center {	
    text-align: center;	
}	
.text-right {	
    text-align: right;	
}	
strong {	
	font-size: 1.3rem;	
}	
.text-uppercase {	
    text-transform: uppercase;	
}	
.underline {	
	text-decoration: underline;	
}	
nav {	
	padding: 1rem;	
}	
nav > a {	
	text-decoration: none;	
	color: beige;
    margin: 1rem;	
}	
nav > a:hover {	
	color: silver;	
}	


#coffee-box {
	background-color: brown;
    position: relative;
    left: 70px;
    top: -15px;
}

#tea-box {
	background-color: #6f4e37;
	position: relative;
	z-index: 1;
}

#cold-drinks-box {
	background-color: chocolate;
    position: relative;
    right: 70px;
    top: -15px;
}

/* padding to allow for fixed footer */
#contact {
    margin-bottom: 50px;
}

.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
	float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
	float: right;
}

.spacer {
    clear: both;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid black;
}

/* map */
#map-wrapper {

    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}


footer {
	background-color: #6f4e37;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}

fieldset {
	border: none;
	margin-top: 20px;
}
